@* Partial view for each individual project item on the home page. *@
@model ProjectItem

@* Card *@
<div class="card">
    @* Image *@
    @* DEBUG: was "card-img" *@
    <img class="card-img-top img-fluid" src="@Model.ThumbnailImage"
         alt="Thumbnail image showing a glimpse of the @Model.Name project">

    @* Title and description *@
    @* DEBUG: was "card-img-overlay" *@
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <h6 class="card-subtitle">@Model.ProgrammingLanguages</h6>
        <p class="card-text">@Model.ShortDescription</p>
    </div>

    @* Subsection *@
    <ul class="list-group list-group-flush text-dark bg-light">
        @* Keywords (create pill-badge from each) *@
        <li class="list-group-item">
            @foreach (var i in Model.KeyWords.Split(',').ToList())
            {
                <span class="badge badge-pill badge-light">@i</span>
            }
        </li>
        @* Links *@
        <li class="list-group-item">
            @if (Model.Repository != null)
            {
                <a class="btn btn-outline-primary" href="@Model.Repository">
                    Repository
                </a>
            }
            @if (Model.Controller != null)
            {
                <a class="btn btn-outline-primary" asp-area=""
                   asp-controller="@Model.Controller" asp-action="Index">
                    More Info
                </a>
            }
        </li>
    </ul>
</div>